* {
	margin:0;
	padding:0;
	font-family: arial;
}
.google {
	text-align:center;
	margin: 50px;
}
.sublime{
	background-color: #357ae8;
	color:#fff;
	width:200px;
	font-size:14px;
}
.google img {
	width:300px;
	height:101px;
}
.google h1{
	margin:20px;
}
input{
	width: 274px; 
	padding: 4.9px;
}
.test img{
	width:120px;
	height:102px;
	margin:20px;
}
.test {
	background-color:#f7f7f7;
	margin: 0 auto;
	width:300px;
	padding:40px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.test button {
	background-color: #3079ed; /* Green */
	border: none;
	color: white;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin:25px 10px 10px 10px;
	width:275px;
	border-radius:5px;
}
.test p{
	padding:10px 0 0 0;
	color:#FF0000;
}	
@media screen and (min-width: 300px) and (max-width:480px){
     .test{
     	padding:0;
     	margin:0 auto;
     }
     input{
     	width:200px;
     }

}
@media screen and (min-width: 300px) and (max-width:385px){
     .google img{
     	width:200px;
     	height:66px;
     }
     .test img{
     	width:100px;
     	height:85px;
     	margin:15px;
     }     
     .test{
     	margin-left: -22px;
     }	
}